<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.imjohnbo</string>
	<key>connections</key>
	<dict>
		<key>01C88E0E-9112-442D-BABC-C4E59E1679F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E0B94B2-0C5A-473D-8789-2EE0BC6A63AC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1C5E4F61-FCEB-4134-9EA6-316A976ACCEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0257F457-96A6-4CF9-BF26-A6683ABA5530</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DD79855-C717-4112-9DEF-7407D3C33570</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27D9938E-8E6A-4AC3-956D-8C74FC3A89E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76297B9E-F683-4532-AFFA-BDF4D5DC4BDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>235018DD-200C-47FE-BAC7-5E8C37535ADD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DD79855-C717-4112-9DEF-7407D3C33570</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7F662D1-4646-49BD-B850-C7D592C59ED7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54044DBE-7F7D-426F-9469-82761D4A8C7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6723585C-9F3A-4048-8ED5-5B2705EDB805</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E0B94B2-0C5A-473D-8789-2EE0BC6A63AC</key>
		<array/>
		<key>6723585C-9F3A-4048-8ED5-5B2705EDB805</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0257F457-96A6-4CF9-BF26-A6683ABA5530</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D30408A-386F-4F2E-BF4D-A9378896B473</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C8CB942-FF38-4235-8D51-9A39B47C88C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A62982D2-AF0A-427F-8A27-79BA2564A1D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6690E80-F3DF-4F4E-BA9A-9492BE381B32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6690E80-F3DF-4F4E-BA9A-9492BE381B32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27D9938E-8E6A-4AC3-956D-8C74FC3A89E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7F662D1-4646-49BD-B850-C7D592C59ED7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A62982D2-AF0A-427F-8A27-79BA2564A1D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>imjohnbo</string>
	<key>description</key>
	<string>GitHub-powered shortlinks for you and your team</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ghLinks.alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ghl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search https://github.com/{var:GITHUB_NWO}/{var:GITHUB_JSON_FILENAME} for links</string>
				<key>title</key>
				<string>GitHub Links search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>01C88E0E-9112-442D-BABC-C4E59E1679F3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5E0B94B2-0C5A-473D-8789-2EE0BC6A63AC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1C5E4F61-FCEB-4134-9EA6-316A976ACCEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{var:GITHUB_NWO}/blob/main/{var:JSON_FILENAME}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C8CB942-FF38-4235-8D51-9A39B47C88C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gho</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>GitHub Links open</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D30408A-386F-4F2E-BF4D-A9378896B473</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gha</string>
				<key>subtext</key>
				<string>Add {query} as a url</string>
				<key>text</key>
				<string>GitHub Links add</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>54044DBE-7F7D-426F-9469-82761D4A8C7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Add {query} as a name for {var:url}</string>
				<key>text</key>
				<string>GitHub Links add</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0257F457-96A6-4CF9-BF26-A6683ABA5530</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Add {query} as an alias for {var:url}, {var:name}, {var:alias}</string>
				<key>text</key>
				<string>GitHub Links add</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6690E80-F3DF-4F4E-BA9A-9492BE381B32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Add {query} as a tag for {var:url}, {var:name}</string>
				<key>text</key>
				<string>GitHub Links add</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7F662D1-4646-49BD-B850-C7D592C59ED7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{
        "name": "{var:name}",
        "alias": "{var:alias}",
        "tag": "{var:tag}",
        "url": "{var:url}"
}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>76297B9E-F683-4532-AFFA-BDF4D5DC4BDE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>alias</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>27D9938E-8E6A-4AC3-956D-8C74FC3A89E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4DD79855-C717-4112-9DEF-7407D3C33570</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>tag</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A62982D2-AF0A-427F-8A27-79BA2564A1D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6723585C-9F3A-4048-8ED5-5B2705EDB805</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{var:GITHUB_NWO}/edit/main/{var:JSON_FILENAME}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>235018DD-200C-47FE-BAC7-5E8C37535ADD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Tired of scattered information on your team? ghLinks.alfred lets you store, search, and collaborate on web bookmarks, powered by GitHub.

==Setup

First, you'll need to add a few workflow variables to point the workflow to the GitHub repository where your links are stored.

- GITHUB_NWO: owner/repo, e.g. imjohnbo/ghLinks-example
- GITHUB_JSON_FILENAME: filename in default branch, e.g. ghLinks.json
- GITHUB_TOKEN: GitHub Personal Access Token with read/write access to GITHUB_NWO

==Usage

ghl &lt;search term&gt;: find &lt;search term&gt; by name in GITHUB_JSON_FILENAME
ghl #&lt;search term&gt;: find &lt;search term&gt; by tag in GITHUB_JSON_FILENAME
gho: open GITHUB_NWO
gha &lt;url&gt;: add a link through a series of prompts

==Support

Community support available at https://github.com/imjohnbo/ghLinks.alfred. Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>01C88E0E-9112-442D-BABC-C4E59E1679F3</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>0257F457-96A6-4CF9-BF26-A6683ABA5530</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>0C8CB942-FF38-4235-8D51-9A39B47C88C9</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>1C5E4F61-FCEB-4134-9EA6-316A976ACCEA</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>235018DD-200C-47FE-BAC7-5E8C37535ADD</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>27D9938E-8E6A-4AC3-956D-8C74FC3A89E1</key>
		<dict>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>4DD79855-C717-4112-9DEF-7407D3C33570</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>54044DBE-7F7D-426F-9469-82761D4A8C7A</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>5E0B94B2-0C5A-473D-8789-2EE0BC6A63AC</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>6723585C-9F3A-4048-8ED5-5B2705EDB805</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>76297B9E-F683-4532-AFFA-BDF4D5DC4BDE</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>7D30408A-386F-4F2E-BF4D-A9378896B473</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>A62982D2-AF0A-427F-8A27-79BA2564A1D7</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>B6690E80-F3DF-4F4E-BA9A-9492BE381B32</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>D7F662D1-4646-49BD-B850-C7D592C59ED7</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ghLinks.json</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The name of the JSON file containing links</string>
			<key>label</key>
			<string>JSON Filename</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>JSON_FILENAME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>imjohnbo/ghLinks</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The GitHub repository containing JSON_FILENAME</string>
			<key>label</key>
			<string>GitHub repo name with owner</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_NWO</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>github_pat_123alongpersonalaccesstoken_replaceme456</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>GitHub token (personal access token, installation access token, etc.) to access API</string>
			<key>label</key>
			<string>GitHub token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_TOKEN</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/imjohnbo/ghLinks.alfred</string>
</dict>
</plist>
